#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: var(--light-background);
  font-weight: 400;
  color: var(--dark-blue-text);
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: var(--transition-properties);

  @include respond(phone) {
    padding: 0rem var(--default-font-size);
  }

  //for use with particleBackground
  #tsparticles {
    height: 100vh;
    width: calc(100vw - 11.2rem);
    z-index: 0;
    position: absolute;
  }

  //custom particle effect
  #canvasHero {
    height: 100vh;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
  .canvasHero__hidden {
    visibility: hidden;
    opacity: 0;
  }
  .canvasHero__visible {
    visibility: visible;
    opacity: 1;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
    }
    @include respond(phone) {
      font-size: 3rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.5rem;
    }
  }

  .hero-subtitle {
    display: flex;
    flex-wrap: wrap;

    .hero-subtitle-text {
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 3.2rem;
      text-align: left;

      @include respond(tab-land) {
        font-size: 3rem;
      }
      @include respond(tab-port) {
        font-size: 2.4rem;
      }
      @include respond(phone) {
        font-size: 2.3rem;
        line-height: 1.5;
        margin-bottom: 0;
      }
      @include respond(phone-xs) {
        font-size: 2rem;
      }
    }

    .hero-subtitle-show {
      padding-left: 1rem;
      @include respond(phone) {
        min-height: 6rem;
        min-width: 250px;
        margin-bottom: 3.2rem;
        padding-left: 0;
        position: relative;
      }
    }

    .hero-subtitle-show-active {
      opacity: 1;
      position: absolute;
      transition: all 2s ease-in-out 0s;
      min-width: fit-content;
      // @include respond(tab-land) {
      //   position: relative;
      // }
    }
    .hero-subtitle-show-hidden {
      min-width: fit-content;
      position: absolute;
      transform: rotateX(90deg);
      opacity: 0;
      transition: all 2.5s ease-in-out 0s;
      // @include respond(tab-land) {
      //   position: relative;
      // }
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
